<footer class="bg-dark text-center text-light text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <a class="navbar-brand" href="/homepage">
          <img
            src="/img/mobile-hour-logo-light.png"
            alt="Mobile Hour Logo"
            height="35"
            class="d-inline-block my-1"
          />
        </a>
        <p>
          The Myer Centre in the Queen Street Mall on Level 1, Shop number 36
          <br />
          07 3256 7101 <br />
          Online@mobilehour.com
        </p>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#"
              ><i class="fab fa-facebook-f text-ligth"> Facebook</i></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fab fa-instagram text-ligth"> Instagram</i></a
            >
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube text-ligth"> Youtube</i></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled mb-0 text-ligth">
          <li><a href="#" class="nav-link text-ligth">Contact Us</a></li>
          <li><a href="#" class="nav-link text-ligth">About Us</a></li>
          <li>
            <a href="#" class="nav-link text-ligth">Terms and Conditions</a>
          </li>
          <li><a href="#" class="nav-link text-ligth">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    T-Shirt Grind ©2023. All Rights Reserved
  </div>
</footer>
